/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::after, *::before {
  box-sizing: border-box;
}

html, body {
  line-height: 1.5;
}

section {
  width: 100%;
}

.box {
  max-width: 920px;
  margin: 120px auto 100px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1607843137);
  border-radius: 12px;
  padding: 60px 95px;
}

@media (max-width: 756px) {
  .box {
    width: 100%;
    flex-direction: column;
    padding: 20px;
    margin: 20px 0;
  }
}
.left {
  margin-right: 30px;
}
.left h1 {
  display: flex;
  flex-direction: column;
}
.left h1 img {
  max-width: 350px;
}

@media (max-width: 765px) {
  .left h1 {
    align-items: center;
  }
  .left h1 .logo {
    display: none;
  }
}
.right {
  width: 100%;
  color: #00807e;
}
.right .title {
  font-size: 33px;
  font-weight: bold;
}
.right hr {
  height: 0;
  margin: 4px 0 32px 0;
  border: 3px solid #00807e;
}

.add-form {
  display: flex;
  flex-direction: column;
}
.add-form .addTicket_input {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.add-form .addTicket_input label {
  font-size: 16px;
  margin-right: 31px;
}
.add-form .addTicket_input input, .add-form .addTicket_input select, .add-form .addTicket_input textarea {
  width: calc(100% - 95px);
  padding: 8px 12px;
  border: none;
  border-bottom: 1px solid #00807e;
  background: #fafafa;
  font-size: 16px;
}
.add-form .addTicket_input textarea {
  height: 111px;
}
.add-form :nth-child(7) {
  align-items: start;
}
.add-form .btn {
  width: 160px;
  padding: 10px 0;
  align-self: end;
  font-size: 20px;
  color: #fff;
  background: #00807e;
  border: none;
  border-radius: 5px;
}
.add-form .btn:hover {
  background: #64C3BF;
  cursor: pointer;
}

@media (max-width: 756px) {
  .add-form .addTicket_input {
    flex-direction: column;
    align-items: start;
  }
  .add-form .addTicket_input input, .add-form .addTicket_input select, .add-form .addTicket_input textarea {
    width: 100%;
  }
  .add-form .btn {
    align-self: center;
  }
}
.container {
  background: #F7F7F7;
}

.ticketGroup {
  max-width: 1110px;
  margin: 0 auto;
  padding-bottom: 81px;
}

@media (max-width: 756px) {
  .ticketGroup {
    width: 100%;
  }
}
.filter_area {
  display: flex;
  align-items: center;
  padding: 56px 0 40px 95px;
}
.filter_area .regionSearch {
  width: 255px;
  padding: 8px 12px;
  margin-right: 30px;
  border: 1px solid #CED4DA;
  border-radius: 4px;
}
.filter_area .pointer {
  color: #818A91;
}

@media (max-width: 756px) {
  .filter_area {
    flex-direction: column;
    padding: 40px 0 20px;
  }
  .filter_area .regionSearch {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
.list {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 375px) {
  .list {
    justify-content: center;
  }
}
a {
  text-decoration: none;
}

.tickets {
  width: 31.3333333333%;
  margin-right: 2%;
  margin-bottom: 38px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1607843137);
  border: 1px solid #DEE2E6;
  border-radius: 4px;
  position: relative;
}
.tickets .tickets_body {
  height: calc(100% - 180px);
  padding: 20px;
  margin-top: -7px;
}
.tickets .area {
  padding: 9px 20px;
  color: #fff;
  background: #64C3BF;
  position: absolute;
  top: -10px;
  left: 0;
  border-radius: 0 4px 4px 0;
  z-index: 15;
}
.tickets .ticket_img {
  width: 100%;
  height: 180px;
  overflow: hidden;
  z-index: 10;
}
.tickets .ticket_img img {
  width: 100%;
}
.tickets .ticket_img img:hover {
  transform: scale(1.15);
}
.tickets .ranks {
  min-width: 32px;
  padding: 5px 8px;
  color: #fff;
  background: #00807e;
  text-align: center;
  position: absolute;
  top: 125px;
  left: 0;
  border-radius: 0 4px 4px 0;
  z-index: 15;
}
.tickets .title {
  color: #00807e;
  font-size: 24px;
  font-weight: bold;
}
.tickets .title:hover {
  color: #64C3BF;
}
.tickets hr {
  height: 0;
  margin: 1px auto 16px;
  border: 2px solid #007572;
}
.tickets .content {
  width: 100%;
  word-wrap: break-word;
  color: #818A91;
  margin-bottom: 32px;
}
.tickets .tickets_footer {
  padding: 0 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #00807e;
  font-weight: bold;
}
.tickets .tickets_footer .show_price {
  display: flex;
  align-items: center;
}
.tickets .tickets_footer .price {
  font-size: 32px;
}

@media (max-width: 756px) {
  .tickets {
    width: 45%;
  }
}
@media (max-width: 375px) {
  .tickets {
    width: 90%;
    margin-right: 0;
  }
}/*# sourceMappingURL=all.css.map */